@using System.Globalization;
@{
    ViewBag.Title = "Clima Temppo";
}

<div class="jumbotron">
    <h1>Clima Tempo Simples</h1>
    <p class="lead">Um simples site que irá te informar sobre as cidades mais quentes e mais frias e seus climas.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Cidades mais quentes hoje</h3>
            </div>
            <div class="panel-body">

                <div class="row">
                    <div class="col-md-8">
                        Petrolina
                    </div>
                    <div class="col-md-2">
                        Min 6°C
                    </div>
                    <div class="col-md-2">
                        Máx 19°C
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8">
                        São Paulo
                    </div>
                    <div class="col-md-2">
                        Min 6°C
                    </div>
                    <div class="col-md-2">
                        Máx 19°C
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Cidades mais frias hoje</h3>
            </div>
            <div class="panel-body">

                <div class="row">
                    <div class="col-md-8">
                        Petrolina
                    </div>
                    <div class="col-md-2">
                        Min 6°C
                    </div>
                    <div class="col-md-2">
                        Máx 19°C
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8">
                        São Paulo
                    </div>
                    <div class="col-md-2">
                        Min 6°C
                    </div>
                    <div class="col-md-2">
                        Máx 19°C
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8">

    </div>

    <div class="col-md-4">
        <b>Cidade:</b>
        <br />
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="width: 100%">
                <div class="row">
                    <div class="col-md-10" style="text-align: left">
                        Petrópolis
                    </div>

                    <div class="col-md-2" style="text-align: right">
                        <span class="glyphicon glyphicon-remove"></span>
                        <span class="glyphicon glyphicon-triangle-bottom"></span>
                    </div>
                </div>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu" style="width: 100%">
                <li><a href="#">Petrolina</a></li>
                <li><a href="#">São Paulo</a></li>
            </ul>
        </div>
    </div>
</div>

<center><h3>Clima para os próximos sete dias na cidade de Petrópolis</h3></center>

<div class="row">
    @for (var i = 0; i <= 6; i++)
    {
        var dateTime = DateTime.Now.AddDays(i);
        var diaSemanaString = dateTime.ToString("dddd", CultureInfo.GetCultureInfo("pt-BR"));

        <div class="col-md-2" style="float: left; width: 14.2%;">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">@diaSemanaString</h3>
                </div>
                <div class="panel-body">

                    <span class="glyphicon glyphicon-cloud"></span>
                    Tempestuoso
                    <br />
                    Mínima 6°C
                    <br />
                    Máxima 19°C
                </div>
            </div>
        </div>
    }
</div>