@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title</h2>
<h3>Aplicação web que mostra um pequeno Clima Tempo simples.</h3>

<p>Foi feita utilizando JQuery, Javascript, C#, ASP .NET, .NET Framework 4.6.1, Entity Framework 6, SQL Server e muito amor <3</p>
